<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="/">Shop</a></li>
                <% if(isAuthenticated) { %>
                <li class="main-header__item"><a href="/admin/add-product">Add Product</a></li>
                <li class="main-header__item"><a href="/user/cart-items">Cart</a></li>
                <li class="main-header__item"><a href="/admin/products">Admin products</a></li>
                <% } %>
                <li class="main-header__item"><a href="/user/add-user">Add User</a></li>
            </ul>
            <ul class="main-header__item-list">
                <% if(!isAuthenticated) { %>
                    <li class="main-header__item"><a href="/login">Login</a></li>
                    <li class="main-header__item"><a href="/signup">Signup</a></li>
                <% }else{ %>
                    <li class="main-header__item"><a href="/logout">Logout</a></li>
                <% } %>
            </ul>
        </nav>
    </header>
   
    <main>
        <% if (prods.length > 0) { %>
            <div class="grid">
                <% for (let product of prods) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= product.title %></h1>
                        </header>
                        <div class="card__image">
                            <img src="/<%= product.imageUrl %>" alt="product image">
                        </div>
                        <div class="card__content">
                            <h2 class="product__price">$<%= product.price %></h2>
                            <p class="product__description">A very interesting book about so many even more interesting things!</p>
                        </div>
                        <div class="card__actons-group">
                            <div class="card__actions">
                                <a  class="btn" href="/product/<%= product._id %>"> Details </a>
                            </div>
                            <div class="card__actions">
                                <a  class="btn" href="/add-to-cart/<%= product._id %>"> Add to Cart </a>
                            </div>
                        </div>
                    </article>
                <% } %>
                
            </div>
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
    </main>
    <section class="pagination">
        <% if (previousPage !=  1 && currPage != 1) { %>
            <a href="?page=1">First </a>
        <% } %>
        <% if (previousPage !=  currPage && previousPage > 0) { %>
            <a href="?page=<%= previousPage %>"><%= previousPage %></a>
        <% } %>
        <a class="active"  href="?page=<%= currPage %>"><%= currPage %></a>
        <% if (nextPage !=  currPage && hasNextPage) { %>
            <a href="?page=<%= nextPage %>"><%= nextPage %></a>
        <% } %>
        <% if (lastPage !=  currPage && lastPage != nextPage) { %>
            <a href="?page=<%= lastPage %>">Last </a>
        <% } %>
    </section>
</body>
</html>